#root {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: left; /* Corrige el alineado centrado predeterminado */
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  display: block; /* Permite el flujo normal de arriba hacia abajo */
}